.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 25px;
}

@media(min-width: $tablet-width) {
  .container {
    padding: 0 40px;
  }
}

@media(min-width: $desktop-width) {
  .container {
    padding: 0 60px;
  }
}

